@import url(./reset.css);
@import url(./font.css);
*{
    font-family: vazir;
   margin: 0;
   padding: 0;
}
.c-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .75);
    min-height: 200px;
    width: 330px;
}
.c-login form{
    display: flex;
    flex-direction: column;
}
::placeholder{
    font-size: 13px;
    color: #535353;
    font-family: vazir;
}
.c-login form input{
    padding-right: 15px;
    height: 32px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
.c-login h3{
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.c-login h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 2px;
    background-color: #ccc;
}
.btn{
    padding: 7px 15px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-family: vazir;
    font-size: 14px;
    margin-top: 20px;
}
.c-register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.c-register a{
    color: #0794c0;
    margin-right: 5px;
    font-weight: 500;
}
.c-login_cheked{
    display: flex;
    align-items: center;
}
.c-login_cheked label{
    margin-right: 5px;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}