:root {
    --bg-blak: #000;
    --bg-wite: #fff;
    --bg-dark: #2a2a2a;
    --bg-light: #cccbcb;
    --bg-danger: #c20c0c;
    --bg-success: #06af17;
    --bg-info: #0794c0;
    --bg-primary: #0331a5;


    --text-blak: #000;
    --text-wite: #fff;
    --text-dark: #484646;
    ;
    --text-light: #cccbcb;
    --text-danger: #c20c0c;
    --text-success: #06af17;
    --text-info: #0794c0;
    --text-primary: #0331a5;

    --fx-10: 10px;
    --fx-12: 12px;
    --fx-13: 13px;
    --fx-14: 14px;
    --fx-16: 16px;
    --fx-18: 18px;
    --fx-22: 22px;


    --m-0: 0;
    --m-1: 1rem;
    --m-2: 1.5rem;
    --m-3: 2rem;
    --m-4: 3rem;
    --m-5: 4rem;

    --ml-0: 0;
    --ml-1: 1rem;
    --ml-2: 1.5rem;
    --ml-3: 2rem;
    --ml-4: 3rem;
    --ml-5: 4rem;

    --mr-0: 0;
    --mr-1: 1rem;
    --mr-2: 1.5rem;
    --mr-3: 2rem;
    --mr-4: 3rem;
    --mr-5: 4rem;

    --m-0: 0;
    --m-1: 1rem;
    --m-2: 1.5rem;
    --m-3: 2rem;
    --m-4: 3rem;
    --m-5: 4rem;

    --mt-0: 0;
    --mt-1: 1rem;
    --mt-2: 1.5rem;
    --mt-3: 2rem;
    --mt-4: 3rem;
    --mt-5: 4rem;

    --mb-0: 0;
    --mb-1: 1rem;
    --mb-2: 1.5rem;
    --mb-3: 2rem;
    --mb-4: 3rem;
    --mb-5: 4rem;

    --pl-0: 0;
    --pl-1: 1rem;
    --pl-2: 1.5rem;
    --pl-3: 2rem;
    --pl-4: 3rem;
    --pl-5: 4rem;

    --pr-0: 0;
    --pr-1: 1rem;
    --pr-2: 1.5rem;
    --pr-3: 2rem;
    --pr-4: 3rem;
    --pr-5: 4rem;

    --pt-0: 0;
    --pt-1: 1rem;
    --pt-2: 1.5rem;
    --pt-3: 2rem;
    --pt-4: 3rem;
    --pt-5: 4rem;

    --pb-0: 0;
    --pb-1: 1rem;
    --pb-2: 1.5rem;
    --pb-3: 2rem;
    --pb-4: 3rem;
    --pb-5: 4rem;

    --text-center: center;
    --text-left: left;
    --text-right: right;
    --text-justify: justify;

    --d-block: block;
    --d-flex: flex;
    --d-inline: inline;

    --justify-content-start: flex-start;
    --justify-content-end: flex-end;
    --justify-content-center: center;
    --justify-content-between: space-between;
    --justify-content-around: space-around;

    --align-start: flex-start;
    --align-end: flex-end;
    --align-center: center;
    --align-stretch: stretch;
    --align-line: baseline;

    --w-25: 25%;
    --w-50: 50%;
    --w-75: 75%;
    --w-100: 100%;
    --w-a: auto;

    --h-25: 25%;
    --h-50: 50%;
    --h-75: 75%;
    --h-100: 100%;
    --h-a: auto;
}