@import url(./c-var.css);
@import url(./reset.css);
@import url(./font.css);

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: vazir;

}

::-webkit-scrollbar {
    width: 10px;
    ;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(9, 9, 121);
    background: linear-gradient(0deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
}

/* start header*/
header {
    display: var(--d-flex);
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-info);
  
}

.c-header_bottom {
    color: var(--text-info);
    width: 90%;
}

.profile {
    border-radius: 50%;
    width: 40%;
}

.c-profile {
    margin-right: 7%;
}

.c-log_in {
    margin-right: 15px;
    padding: 5px;

}

.c-search input {
    width: 100%;
    height: 38px;
    background-color: #e5e5e5;
    border: none;
    font-size: 16px;
    line-height: 42px;
    border-radius: 0 13px 13px 0;
    padding-right: 45px;

}

.c-search {
    flex-basis: 50%;
    position: relative;
}

.c-search i {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #ccc;
}

.c-search_bottom button {
    width: 100%;
    height: 38px;
    border-radius: 13px 0 0 13px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border: none;
}

.c-social_media {
    font-weight: 400;
    margin-right: 30px;
    font-size: 23px;
    padding: 5px;
}

.c-social_media i {
    margin-left: 5%;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border-radius: 7px;
    color: white;
}

.fa-telegram:hover {
    color: #0088cc;
}

.fa-whatsapp:hover {
    color: #43d854;
}

/* end header*/
/* start nav*/
nav {
    display: var(--d-flex);
    align-items: center;
}

.c-nav ul {
    display: var(--d-flex);
    justify-content: space-between;
}

.c-nav li a {
    padding: 5px 15px;
}

.c-nav ul li :hover {
    font-weight: 700;
}

.c-nav_left a i {
    margin: 0 5px;
}

.c-nav_left {
    padding: 7px 5px;
    background-color: rgba(0, 0, 255, 0.832);
    border-radius: 15px;
    margin-right: 2%;
}

.c-nav_left a i {
    color: #fff;
}

.c-nav_left a {
    color: #fff;
}

/*end nav*/
/*start main*/
.c-main_poster {
    display: var(--d-flex);
    margin: 5% 0 5% 0;
}
.c-left_poster i{
   margin-left: 7px;
}
.c-poster_main1 img {
    width: 100%;
}
.container{
    display: var(--d-flex);
    justify-content: center;
}
.c-main_right_img {
   width: 90%;
   height: 10%;
   margin-right: 15px;
   border-radius: 10px;
}
.c-main_right h2,p{
    margin-right: 15px;
}
.c-main_right p{
    width: 90%;
}
.c-main_right h2 i{
    font-size: 13px;
    margin-left: 7px;
    color: #0088cc;
}
.main-left{
    padding-top: 5%;
}
.item{
    display: var(--d-flex);
    margin: 15px 0;
    width: 80%;
    background-color: #e2e2e2;
    padding: 15px 15px 15px 0;
    border-radius: 5px;
}
.item-part_1 img{
   width: 90%;
    border-radius: 2px;
    height: 100%;
}
.item-part_2 span{
    color: #908d8d;
    font-size: 13px;
}
.item-part_2 span i{
    margin-right: 5px;
    font-size: 5px;
    color: chocolate;
}
.item-part_2 p{
    font-size: 13px;
    width: 90%;
    font-weight: 800;
}
.item-part_2:hover p{
    color: #0088cc;
}
.c-title{
    text-align: center;
    width: 80%;
}
.c-title h3 {
    margin-left: 7px;
  border-right: 6px solid red;
}
.c-circle-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
/*end main*/ 
/* start footer*/
.c-footer {
    background-color: #eee;
    height: 250px;
    display: var(--d-flex);

}

.c-footer h4 i {
    font-size: 10px;
    color: blue;
}

.c-footer a i {
    font-size: 15px;
    color: #0088cc;
}

.c-footer p i {
    font-size: 15px;
    color: #0088cc;
}

.c-footer div {
    padding-right: 15px;
}

.c-footer_img a img {
    margin-top: 20px;
    width: 30%;
}
/*end footer*/