@font-face {
    font-family: vazir;
    src: url(../font/Vazir.ttf) format("truetype"),
        url(../font/Vazir.woff) format("woff"),
        url(../font/Vazir.eot) format("eot"),
        url(../font/Vazir.woff2) format("woff2");
}