@import url(./c-var.css);
@import url(./reset.css);
@import url(./font.css);
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: vazir;
   
}
::-webkit-scrollbar {
   width: 10px; ;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(9, 9, 121);
        background: linear-gradient(0deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
}
/* start header*/
header{
    display: var(--d-flex);
    margin:15px 0;
   justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-info);
}
.c-header_bottom{
    color: var(--text-info);
    width: 90%;
}
.profile{
    border-radius: 50%;
        width: 40%; 
    }
    .c-profile{
     margin-right: 7%;
    }
.c-log_in{
    margin-right: 15px;
    padding: 5px;
  
}
.c-search input{
    width: 100%;
        height: 38px;
        background-color: #e5e5e5;
        border: none;
        font-size: 16px;
        line-height: 42px;
        border-radius: 0 13px 13px 0 ;
        padding-right: 45px;
        
}
.c-search{
    flex-basis: 50%;
        position: relative;
}
.c-search i {
    position: absolute;
        right: 15px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
        color: #ccc;
}
.c-search_bottom button{
    width: 100%;
    height: 38px;
    border-radius: 13px 0 0 13px;
    background-color:blue;
    color: #fff;
    cursor: pointer;
    border: none;
}
.c-social_media{
    font-weight: 400;
        margin-right: 30px;
        font-size: 23px;
        padding: 5px;
}
.c-social_media i{
margin-left: 5%;
}
.fa-instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border-radius: 7px;
    color: white;
}
.fa-telegram:hover {
    color: #0088cc;
}
.fa-whatsapp:hover {
    color: #43d854;
}
/* end header*/
/* start nav*/
nav{
    display: var(--d-flex);
        align-items: center;
}
.c-nav ul   {
    display: var(--d-flex);
    justify-content: space-between;
}
.c-nav li a{
   padding:  5px 15px;
}
.c-nav ul  li :hover{
    font-weight: 700;
}
.c-nav_left a i{
    margin:0 5px;
}
.c-nav_left {
   padding: 7px 5px;
    background-color:rgba(0, 0, 255, 0.832) ;
    border-radius: 15px;
    margin-right: 2%;
    font-family: vazir;
}
.c-nav_left a i  {
    color: #fff;
}
.c-nav_left a{
    color: #fff;
}
/*end nav*/
/*start main*/
.c-main_poster{
    display: var(--d-flex);
    margin: 5% 0 5% 0;
}
.c-poster_main1 img{
    width: 100%;
}
.c-left_poster{
    padding: 50px 0 0 0;
}
.c-menu-kala  {
    display: var(--d-flex);
    align-items: center;
    margin-bottom: 5%;
    height: 200px;
}
.c-menu-kala p{
    text-align: center;
}
.c-menu-kala-img{
    text-align: center;
}
.c-menu-kala div{
      height: 120px;
}
.c-padd{
    border-left: 2px solid #e7e7e7;
  
}

.c-h3{
text-align: center;
margin-bottom: 30px;
}
.c-box{
    display: var(--d-flex);
    justify-content: center;
   margin-bottom: 15px;
}
.c-box_kala{
    margin: 15px ;
    background-color: #fff;
    color: #000;
     border-radius: 15px ;
    border: 2px solid #cfcfcf;
    height:450px;
    width: 20%;
    
}
.c-box_kala img{
    width:100%;
    height:200px;
    border-radius:   15px 15px 0 0;
    
}
.c-namojod:hover{
    filter: grayscale(0);
    img{
        filter: grayscale(0);
    }
}
.c-namojod{
    filter: grayscale(1);
}
.c-namojod img{
    filter: grayscale(1);
}
.c-box_kala h3{
    padding-right: 10px;
}
.c-box_kala p{
    margin-right: 10px;
}
.c-box_kala h3 i{
     padding-left: 5px;
     color: #0088cc;
}
.c-box_kala span{
    margin-right: 10px;
}
.c-box_kala span i {
    
    color: #faf756d9;
}
.c-off_15::after{
    content: "%۱۵";
        width: 45px;
        height: 10px;
        background-color: #cc0003;
        border-radius: 20px;
        color: #fff;
        padding: 6px;
        font-size: 11px;
    
}
.c-kambod::after{
    content: "رو به اتمام";
        width: 50px;
        height: 10px;
        background-color: #c0bfbf76;
        border-radius: 20px;
        color: #ff0000;
        padding: 6px;
        font-size: 11px;
}
.c-off_20::after{
    content: "%۲۰";
        width: 45px;
        height: 10px;
        background-color: #cc0003;
        border-radius: 20px;
        color: #fff;
        padding: 6px;
        font-size: 11px;
}

.c-btn_box, .c-btn_box_namojod{
    margin: 15px 90px 0 0;
    border: 2px solid #e2e2e2;
    width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    background-color: #8d8d8d46;
    cursor: pointer;
}

.c-btn_box_namojod:hover  {
    i{
        margin-left: 3px;
    }
}
.c-btn_box:hover{
    i {
            margin-left: 3px;
        }
}
/*end main*/
.c-footer{
    background-color: #eee;
    height: 200px;
    display: var(--d-flex);
  
}
.c-footer h4 i{
    font-size: 10px ;
    color: blue;
}
.c-footer a i{
    font-size: 15px;
    color: #0088cc;
}
.c-footer p i {
    font-size: 15px;
    color: #0088cc;
}
.c-footer div{
        padding-right: 15px;
}
.c-footer_img a img{
    margin-top: 20px;
    width: 30%;
}
